flows3.json
[{"id":"630d1fa3.e9283","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e89c624e.007a7","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ba2b8542.5f9f18","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"75a3f957.462c08","type":"inject","z":"630d1fa3.e9283","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":80,"wires":[["b5f349ca.1cb278"]]},{"id":"b5f349ca.1cb278","type":"function","z":"630d1fa3.e9283","name":"","func":"msg.headers={\n    deviceKey: \"LwoH92v0T0YUgz9x\"\n};\n\nmsg.payload=\"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":160,"wires":[["1b87bec8.5f9f01"]]},{"id":"1b87bec8.5f9f01","type":"http request","z":"630d1fa3.e9283","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DT0UhJoA/datapoints.csv","tls":"","proxy":"","authType":"","x":320,"y":180,"wires":[["e0e42640.e40ee8","eade3541.0825e8"]]},{"id":"e0e42640.e40ee8","type":"http response","z":"630d1fa3.e9283","name":"","statusCode":"","headers":{},"x":400,"y":280,"wires":[]},{"id":"eade3541.0825e8","type":"debug","z":"630d1fa3.e9283","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":280,"y":300,"wires":[]},{"id":"b8599efa.6c2b4","type":"rpi-gpio in","z":"630d1fa3.e9283","name":"temp","pin":"7","intype":"tri","debounce":"25","read":false,"x":60,"y":220,"wires":[["b5f349ca.1cb278"]]},{"id":"ed82728e.dfd67","type":"inject","z":"e89c624e.007a7","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":80,"wires":[["ba34ac49.a29d6"]]},{"id":"ba34ac49.a29d6","type":"function","z":"e89c624e.007a7","name":"","func":"msg.headers={\n    deviceKey: \"LwoH92v0T0YUgz9x\"\n};\n\nmsg.payload= \"Humidity,,70\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":220,"wires":[["fad3695a.d06568"]]},{"id":"fad3695a.d06568","type":"http request","z":"e89c624e.007a7","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DT0UhJoA/datapoints.csv","tls":"","proxy":"","authType":"","x":460,"y":240,"wires":[["11ebeaa3.063405","a11fc094.ad4e2"]]},{"id":"11ebeaa3.063405","type":"http response","z":"e89c624e.007a7","name":"","statusCode":"","headers":{},"x":540,"y":340,"wires":[]},{"id":"a11fc094.ad4e2","type":"debug","z":"e89c624e.007a7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":360,"wires":[]},{"id":"8a986a75.4d97b8","type":"rpi-gpio in","z":"e89c624e.007a7","name":"temp","pin":"7","intype":"tri","debounce":"25","read":false,"x":200,"y":280,"wires":[["ba34ac49.a29d6"]]}]