flows.json
[{"id":"630d1fa3.e9283","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a2bd8dc1.4400f","type":"rpi-gpio out","z":"630d1fa3.e9283","name":"LED","pin":"12","set":true,"level":"1","freq":"","out":"out","x":430,"y":260,"wires":[]},{"id":"9938920a.9493e","type":"debug","z":"630d1fa3.e9283","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":210,"y":220,"wires":[]},{"id":"2a08d3c7.b6c24c","type":"switch","z":"630d1fa3.e9283","name":"in 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":100,"wires":[["3f47892a.40ba56"],["9ba9b5f6.750d88"]]},{"id":"3f47892a.40ba56","type":"change","z":"630d1fa3.e9283","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":100,"wires":[["a2bd8dc1.4400f"]]},{"id":"577b579c.fbc258","type":"rpi-gpio in","z":"630d1fa3.e9283","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":40,"y":120,"wires":[["2a08d3c7.b6c24c","9938920a.9493e"]]},{"id":"9ba9b5f6.750d88","type":"change","z":"630d1fa3.e9283","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":140,"wires":[["a2bd8dc1.4400f"]]}]